.register{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: yellow; */
}
.left-div{
   width: 50%;
   height: 100%;
   border-radius: 10px;
   padding: 50px 0px 0px 40px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   position: relative;
   /* background-color: aqua; */
   
}
.greet{
   width: 100%;
   color: #0C1421;
   /* height: 10%; */
   /* background-color: blanchedalmond; */
}
.quote{
    width: 100%;
    height: 10%;
    padding-top: 8px;
    line-height: 20px;
    font-size: 16px;
    color: #313957;
    margin-bottom: 20px;
    /* background-color: rgb(199, 128, 23); */
}
form{
    width:55%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    /* align-items: center; */
}
.authentication{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.email legend{
    width: 25%;
    font-size: 12px;
    color: #0C1421;
    margin: 0px 0px 6px 0px;
    /* background-color: rgb(233, 173, 95); */
    
}
.authentication input{
    width: 100%;
    padding: 10px 10px;
    font-size: 12px;
    border-radius: 5px;
    color: #8897AD;
    background-color: #F7FBFF;
    border: 1px solid #D4D7E3;
}
.forget-pwd{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.forget-pwd a{
    /* background-color: #6774a1; */
    margin: 10px 0px;
    font-size: 11px;
    text-decoration: none;
    color: #1E4AE9;
    
}
.password legend{
    width: 25%;
    font-size: 12px;
    color: #0C1421;
    margin: 6px 0px;
    background-color: #1877F2;

}
.sign-in{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #162D3A;
    background-color: #162D3A;
    color: #FFFFFF;
    cursor: pointer;
}
.either-sec{
    display: flex;
    justify-content: space-between;
    margin: 8px 0px;
}
.or{
    font-size: 12px;
    /* padding-left: 5px; */
}
.line{
    width: 45%;
    margin-top: 7px;
    border-top: 1px solid black;
    
}
.line1{
    width: 45%;
    margin-top: 7px;
    border-top: 1px solid black;
    
}
.authentication-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: block;
    /* background-color: cadetblue     ; */
}
.authentication-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
    /* background-color: cadetblue     ; */
}
.google-signin{
    width: 100%;
    border-radius: 5px;
    color: #313957;
    background-color: #F3F9FA;
    border: 1px solid #F3F9FA;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
    padding: 7px 10px;
    cursor: pointer;
}
.google-signin span{
    font-size: 18px;
    /* background-color:#162D3A; */
}
.fb-signin{
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
    color: #313957;
    background-color: #F7FBFF;
    border: 1px solid #F3F9FA;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
}
.fb-signin span{
    font-size: 18px;
    /* background-color:#162D3A; */
}
.fb-icon{
    color: #1877F2;
}
.authentication-2 .google-signin{
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
    color: #313957;
    background-color: #F3F9FA;
    border: 1px solid #F3F9FA;
    display: flex;
    align-items: center;
    gap: 15px;
}
.authentication-2 .google-signin span{
    font-size: 18px;
    /* background-color:#162D3A; */
}
.authentication-2 .fb-signin{
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
    color: #313957;
    background-color: #F7FBFF;
    border: 1px solid #F3F9FA;
    display: flex;
    align-items: center;
    gap: 15px;
}
.authentication-2 .fb-signin span{
    font-size: 18px;
    /* background-color:#162D3A; */
}
.authentication-2 .fb-icon{
    color: #1877F2;
}
.sign-up{
    font-size: 13px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: #313957;
}
.sign-up a{
    text-decoration: none;
    color: #1E4AE9;
}
.sign-up-2{
    display: none;
}
.message{
    padding: 10px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    margin: 7px 10px;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
background-color: red;
box-shadow: 0 2px 4px 0 red;
}
.message1{
    padding: 10px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    margin: 7px 10px;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: green;
    box-shadow: 0 2px 4px 0 green;

}
.rights{
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: #959CB6;
    margin-top: 6px;
}
.right-div{
    width: 40%;
    height: 100%;
    /* background-color:red; */
    display: flex ;
    background-image: url("../Assets/Images/Login\ Art.jpg");
    border-radius:15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width:768px) {
    .register{
        width: auto;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        /* background-color: yellow; */
    }
   
    .left-div{
       width: 100%;
       height: 100%;
       border-radius: 10px;
       padding:  0px;
       display: flex;
       justify-content: center;
       align-items: flex-end;
       /* background-color: green; */
       margin-top: 20px;
       
    }
    .greet{
       width: 100%;
       color: #0C1421;
       /* height: 10%; */
       /* background-color: blanchedalmond; */
    }
    .quote{
        width: 100%;
        height: 10%;
        padding-top: 8px;
        line-height: 20px;
        font-size: 18px;
        color: #313957;
        margin-bottom: 20px;
        /* background-color: rgb(199, 128, 23); */
    }
    form{
        width:100%;
        height: 100%;
        /* background-color: blueviolet; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    .authentication{
        display: flex;
        gap: 15px;
        /* background-color: #162D3A; */
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    
    .email legend{
        width: 25%;
        font-size: 15px;
        color: #0C1421;
        margin: 0px 0px 0px 0px;
        /* background-color: rgb(233, 173, 95); */
        
    }
    .password legend{
        width: 25%;
        font-size: 12px;
        color: #0C1421;
        margin: 6px 0px;
        background-color: #1877F2;
    }
    .authentication input{
        width: 100%;
        padding: 10px 10px;
        font-size: 15px;
        border-radius: 5px;
        color: #8897AD;
        background-color: #F7FBFF;
        border: 1px solid #D4D7E3;
    }
    .forget-pwd{
        width: 100%;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .forget-pwd a{
        /* background-color: #6774a1; */
        font-size: 15px;
        margin: 0px 0px;
        text-decoration: none;
        color: #1E4AE9;
        
    }
    .sign-in{
        width: 100%;
        border-radius: 5px;
        border: 1px solid #162D3A;
        background-color: #162D3A;
        color: #FFFFFF;
        margin-top: 10px;
        cursor: pointer;
    }
    .either-sec{
        display: flex;
        justify-content: space-between;
        margin:8px 0px;
    }
    .or{
        font-size: 17px;
        /* padding-left: 5px; */
    }
    .line{
        width: 45%;
        margin-top: 9px;
        border-top: 1px solid black;
        
    }
    .authentication-2 .google-signin{
        width: 100%;
        border-radius: 5px;
        color: #313957;
        background-color: #F3F9FA;
        border: 1px solid #F3F9FA;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
        gap: 15px;
        margin-bottom: 0px;
        padding: 7px 10px;
        cursor: pointer;
    }
    .authentication-2 .google-signin span{
        font-size: 18px;
        /* background-color:#162D3A; */
    }
    .authentication-2 .fb-signin{
        width: 100%;
        border-radius: 5px;
        color: #313957;
        background-color: #F7FBFF;
        border: 1px solid #F3F9FA;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px 10px;
        gap: 15px;
        cursor: pointer;
    }
    .authentication-2 .fb-signin span{
        font-size: 18px;
        /* background-color:#162D3A; */
    }
    .authentication-2 .fb-icon{
        color: #1877F2;
    }
    
    .line1{
        width: 45%;
        margin-top: 9px;
        border-top: 1px solid black;
        
    }
    .authentication-1{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        display: none;
        /* background-color: cadetblue     ; */
    }
    .authentication-2{
        width: 100%;
        /* background-color: green; */
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 30px;
    }
    
    .google-signin{
        width: 100%;
        border-radius: 5px;
        color: #313957;
        background-color: #F3F9FA;
        border: 1px solid #F3F9FA;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px 10px;
        margin-bottom: 0px;
        gap: 15px;
    }
    .google-signin span{
        font-size: 20px;
        padding-left:10px;
        /* background-color:#162D3A; */
    }
    .fb-signin{
        width: 40%;
        border-radius: 5px;
        color: #313957;
        background-color: #F7FBFF;
        border: 1px solid #F3F9FA;
        display: flex;
        align-items: center;
        padding:7px 10px;
        gap: 15px;
    }
    .fb-signin span{
        font-size: 20px;
        /* background-color:#162D3A; */
    }
    .fb-icon{
        color: #1877F2;
    }
    .sign-up-2{
        display: block;
        font-size: 16px;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        color: #313957;
    }
    .sign-up-2 a{
        text-decoration: none;
        color: #1E4AE9;
    }
    .signup{
        font-size: 16px;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        color: #313957;
    }
    .signup a{
        text-decoration: none;
        color: #1E4AE9;
    }
    .rights{
        font-size: 14px;
        width: 100%;
        padding-top: 60px;
        color: #959CB6;
    }
    .message{
        padding: 10px;
        color: #FFFFFF;
        text-align: center;
        border-radius: 5px;
        margin: 7px 10px;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        margin: auto;
    background-color: red;
    box-shadow: 0 2px 4px 0 red;
    }
    .message1{
        padding: 10px;
        color: #FFFFFF;
        text-align: center;
        border-radius: 5px;
        margin: 7px 10px;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: green;
        box-shadow: 0 2px 4px 0 green;
    
    }
    .right-div{
        width: 100%;
        height:240px;
        /* background-color:red; */
        display: flex ;
        background-image: url("../Assets/Images/Login\ Art.jpg");
        border-radius:15px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}


